.header {
    height: theme('header.expandedHeight');
}
.header a {
    @apply text-content font-medium;
    transition: color 0.4s;
}
.header a:hover {
    @apply text-primary;
}

.logo {
    width: 64px;
}