.header {
    height: theme('header.expandedHeight');
}
.header a {
    color: #333333;
    transition: color 0.4s;
}
.header a:hover {
    color: theme('colors.primary');
}

.logo {
    width: 64px;
}