@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply overflow-x-hidden;
}
body {
    @apply bg-body font-sans text-content antialiased overflow-x-hidden;
    padding-top: theme('header.expandedHeight');
}

@layer components {
    .container-md {
        @apply container xl:max-w-[1200px];
    }

    .text-gradient {
        @apply text-transparent bg-clip-text bg-gradient-to-r from-primary-light to-primary;
    }
    .section-title {
        @apply text-6xl font-bold leading-tight;
    }
    .h2 {
        @apply font-light text-4xl;
    }
    .h3 {
        @apply font-bold text-3xl;
    }

    /*
        Button
     */
    .btn {
        @apply font-light rounded-full;
        transition: background 0.3s, border 0.3s;
    }
    .btn svg {
        display: inline-block;
    }

    .btn-outline {
        @apply border border-primary-light text-primary hover:bg-primary-light/10;
    }
    .btn-link {
        @apply text-primary hover:bg-primary-light/10;
    }
    .btn-sm {
        @apply text-sm px-4 py-1.5;
    }
    .btn-md {
        @apply px-8 py-2;
    }
}

.light-decoration {
    background: radial-gradient(50% 50% at 50% 50%, rgba(242, 149, 22, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
}